<div class="college-container">
    <h3>College</h3>
    <p>Name: G Pulla Reddy Engineering College</p>
    <p>Branch: Computer Science & Engineering</p>
    <p>Year Of Passing: 2024</p>
    <p>CGPA: 9.01</p>
  </div>
  <br>
  <div class="college-container">
    <h3>Intermediate</h3>
    <p>Name: Narayana Jr College</p>
    <p>Year Of Passing: 2020</p>
    <p>Marks: 966/1000</p>
  </div>
  <br>
  <div class="college-container">
    <h3>SSC</h3>
    <p>Name: Deepti School</p>
    <p>Year Of Passing: 2018</p>
    <p>GPA: 9.7</p>
  </div>